body {
    background-image: url(wp2201012.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    text-align: justify;
    padding: 10px
    
}

h1 {
    width: 600px;
    border: 2px solid #555;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
    background-color: #111;
    text-decoration-color: azure;

    
}



img {
    max-width: 100%;
    width: 400px;
    height: 500px;
    border: 2px solid darkblue;
    border-radius: 20px;
    margin-left: 1200px;
    transform: translateY(-450px);
    
}

p {
    padding: 10px;
}